@model InVanWebApp_BO.UsersBO
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.urbanui.com/melody/template/pages/samples/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:53 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vangi Foods</title>
    <!-- plugins:css -->
    <link href="~/Theme/MainContent/vendors/iconfonts/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/Theme/MainContent/vendors/css/vendor.bundle.addons.css" rel="stylesheet" />
    <link href="~/Theme/MainContent/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/Theme/MainContent/css/style.css" rel="stylesheet" />

    <!-- endinject -->
    <link rel="shortcut icon" href="~/Theme/MainContent/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row">
                    <div class="col-md-7 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                                <img src="~/Theme/MainContent/images/Logo.svg" alt="Vangi Foods" class="d-none" />
                            </div>
                            <div class="shadow-lg p-4 pb-5 bg-white rounded">
                                @*rahul code 08/09/2022*@
                                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <form class="pt-3">
                                        <div class="form-group">
                                            @*<h5>Username</h5>*@
                                            <div class="input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="fa fa-user text-primary"></i>
                                                    </span>
                                                </div>
                                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg border-left-0", placeholder = "Username", type = "text" })
                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "error mt-2 text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @*<h5>Password</h5>*@
                                            <div class="input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="fa fa-lock text-primary"></i>
                                                    </span>
                                                </div>
                                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-lg border-left-0", placeholder = "Password", type = "password" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error mt-2 text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <label class="form-check-label text-muted">
                            <input type="checkbox" class="form-check-input">
                            Keep me signed in
                        </label>
                    </div>
                    <a href="#" class="auth-link text-black">Forgot password?</a>
                </div>*@
                                        <div class="my-3">
                                            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" style="background: linear-gradient(85deg, #392c70, #6a005b); line-height: normal;">Login</button>
                                            @*<a href="@Url.Action("Index","Dashboard")" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Login</a>*@
                                        </div>
                                    </form>
                                    <div>
                                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center" style="font-size: 0.75rem;">
                                            Powred by @*<i class="far fa-heart text-danger"></i>*@
                                            <a class="navbar-brand brand-logo-mini" href="https://garimasystem.com/"><img src="~/Theme/MainContent/Logo/GSSPL Rounded png.png" width="20" alt="logo" /></a>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="~/Theme/MainContent/images/auth/login-bg1.jpg" />
                    </div>
                    @*<div class="col-md-7 offset-1 offset-lg-0 login-half-bg d-flex flex-row">
                            <p class="font-weight-medium text-center flex-grow align-self-end" style="color:white;">Copyright &copy; 2021  All rights reserved by Garima System Solutions.</p>
                        </div>*@
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @*<script src="~/Theme/MainContent/vendors/js/vendor.bundle.addons.js"></script>
        <script src="~/Theme/MainContent/vendors/js/vendor.bundle.base.js"></script>*@

    <!-- endinject -->
    <!-- inject:js -->
    @*<script src="~/Theme/MainContent/js/off-canvas.js"></script>
        <script src="~/Theme/MainContent/js/hoverable-collapse.js"></script>
        <script src="~/Theme/MainContent/js/misc.js"></script>
        <script src="~/Theme/MainContent/js/settings.js"></script>
        <script src="~/Theme/MainContent/js/todolist.js"></script>*@
    <!-- endinject -->
</body>


<!-- Mirrored from www.urbanui.com/melody/template/pages/samples/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:53 GMT -->
</html>

<script src="~/Theme/MainContent/js/jquery.min.js"></script>
<script src="~/Theme/MainContent/js/popper.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Theme/MainContent/js/main.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

@if (ViewBag.Login != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Login');
                //console.log('hi');
            }
    </script>
}