@model  IEnumerable<InVanWebApp_BO.RoleRightBO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Role Rights Master</title>
</head>
<body>

    <div class="content-wrapper" runat="server" id="divPanel1">
        <div class="page-header" style="height:5px;">
            <h4 class="page-title">Assign Role Rights</h4>
            <nav aria-label="breadcrum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        @*Rahul updated anchor tag text 'Master' to 'Security' 16-02-23.*@
                        <i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("ReorderPointOfStocks","Dashb_RTWarehouseWiseStock")">Security</a>
                    </li>
                    <li class="breadcrumb-item active">Role Rights</li>
                </ol>
            </nav>
        </div>
        <hr />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            @*@using (Html.BeginForm("AddRoleRights", "RoleRights", FormMethod.Post))*@

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Roles")
                                    <span style="color:red">*</span>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("RoleId", (IEnumerable<SelectListItem>)ViewData["Roles"], "--Select--",
                                    new { @Id = "role", @class = "form-control" })
                                    <span id="valMsgRole" style="display:none;" class="error mt-2 text-danger field-validation-error">Select Batch Number!</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <button id="btnSave" type="submit" class="btn btn-sm btn-primary mr-2" style="background: linear-gradient(85deg, #392c70, #6a005b);">Save</button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <h5><u><i>Screen Names</i></u></h5>
                                </div>
                            </div>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-1">
                                            @Html.CheckBox("checkAll", new { @id = "checkAll" })
                                        </div>
                                        <div class="col-md-2">
                                            <h5>Select All</h5>
                                        </div>
                                    </div>
                                    <br />
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-md-1">
                                            @*@Html.CheckBoxFor(item => item[i].Selected, new { @checked = "checked" })*@
                                            <input id="@item.ScreenName" class="removeLater" type="checkbox" name="skill" value="@item.ScreenName" />
                                        </div>
                                        <div class="col-md-3">
                                            @Html.HiddenFor(modelItem => item.RoleId)
                                            @Html.HiddenFor(modelItem => item.ScreenId)
                                            @Html.HiddenFor(modelItem => item.ScreenName)
                                            @Html.DisplayFor(modelItem => item.DisplayName)
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //if checked header check box then check all and if unselected the nunselect all
    $('#checkAll').click(function () {
        var role = $("#role").val();
        if (role != '' && role != null) {
            if (this.checked) {
                $(':checkbox').each(function () {
                    this.checked = true;
                });
                document.getElementById("btnSave").disabled = false;
            }
            else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
                document.getElementById("btnSave").disabled = true;
            }
        }
        else {
            $("#checkAll").prop("checked", false);
            alert("Please select the role first!");
            document.getElementById("btnSave").disabled = true;
        }
    });

    document.getElementById("role").addEventListener("change", function () {
        $('#valMsgRole').hide();
        //to uncheck all checkboxes
        $(':checkbox').each(function () {
            this.checked = false;
        });

        var checkbox;
        var roleId = document.getElementById("role").value;
        //to check based on rights

        $.ajax({
            type: "POST",
            url: `/RoleRights/GetRoleRightsJSon?roleId=${roleId}`,
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (result) {
                $.each(result, function (key, item) {
                    $(':checkbox').each(function () {
                        if (this.id == item.ScreenName) {
                            this.checked = true;
                        }
                    });
                });
                document.getElementById("btnSave").disabled = false;
            }
        });
    })
</script>
<script type="text/javascript">
   
    $("#btnSave").click(function (e) {
        if ($('#role').val() == '' || $('#role').val() == null) {
            $('#valMsgRole').show();
            $('#valMsgRole').text('Select Role!');
            document.getElementById('valMsgRole').setAttribute('style', 'color:red;');
            return;
        }
        else {
            if (confirm("Do you want to save?")) {
                var checkboxValues = [];
                var roleId = document.getElementById("role").value;
                checkboxValues.push(roleId);
                $('input.removeLater:checked').map(function () {
                    //checkboxValues.push($("input:checked").val());
                    checkboxValues.push($(this).val());
                });

                //alert(checkboxValues);
                //return true;
                $.ajax({
                    type: "POST",
                    url: `/RoleRights/AddRoleRights/`,
                    data: JSON.stringify(checkboxValues),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (result) {
                        $.each(result, function (key, item) {

                            $(':checkbox').each(function () {
                                if (this.id == item.ScreenName) {
                                    this.checked = true;
                                }
                            });
                            document.getElementById("btnSave").disabled = false;
                        });

                        alert('Rights assigned successfully!');
                    }
                });
            } else {
                alert('Some error occurred! Please try again!');
                return false;
            }
        }

    });


</script>

@if (ViewBag.roleRights != null)
{
    <script type="text/javascript">
             window.onload = function () {
                //console.log('hi');
                alert('@ViewBag.roleRights');
             }
    </script>
}

@Html.Raw(TempData["Success"])

