@model IEnumerable<InVanWebApp_BO.UserDetailsBO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>User Master</title>
</head>
<body>
    <div class="content-wrapper" runat="server" id="divPanel1">
        <div class="page-header" style="height:5px;">
            <h4 class="page-title">User Details</h4>
            <nav aria-label="breadcrum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        @*Rahul updated anchor tag text 'Master' to 'Security' 16-02-23.*@ 
                        <i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("ReorderPointOfStocks","Dashb_RTWarehouseWiseStock")">Security</a>
                    </li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </nav>
        </div>
        <hr />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            @*<h1 class="card-title">@Html.ActionLink("Add Item Type", "AddItemType")</h1>*@
                            <a href="@Url.Action("AddUser","UserDetails")" class="btn btn-sm btn-primary" style="float: right; background: linear-gradient(85deg, #392c70, #6a005b);">
                                <span class="fa fa-plus"></span> User
                            </a>
                            <div class="table-responsive" style="padding-top:15px;">
                                <table class="table table-striped table-bordered" style="table-layout:fixed;">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("User Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Designation")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Contact Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Email ID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Actions")
                                        </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Designation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeMobileNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailId)
                                            </td>
                                            <td>
                                                <a href=@Url.Action("EditUser", "UserDetails", new { ID = item.EmployeeID }) title="Edit User">
                                                    <i class="fa fa-edit text-primary"></i>
                                                </a> &emsp;
                                                <a href=@Url.Action("DeleteUser", "UserDetails", new { ID = item.EmployeeID }) onclick="return confirm('Are you sure want to delete?');" title="Edit User">
                                                    <i class="fa fa-trash" aria-hidden="true" style="color:tomato"></i>
                                                </a>
                                                @*@Html.ActionLink("Edit", "EditUser", new { ID = item.EmployeeID }) |
                                                     @Html.ActionLink("Delete", "DeleteUser", new { ID = item.EmployeeID },
                                                    new { onclick = "return confirm('Are you sure, you wants to delete?');"})*@
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@Html.Raw(TempData["Success"])

