@model InVanWebApp.DAL.Item
@{
    ViewBag.Title = "Delete Item";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    @using (Html.BeginForm("Delete", "AddItem", FormMethod.Post))
    {
        @Html.HiddenFor(r => r.Item_ID)
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Delete Item</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Item_Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Item_Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Item_Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item_Code)
                    </dd>
                </dl>
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    }
</div>


