@model InVanWebApp.DAL.Item
@{
    ViewBag.Title = "Edit item";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Item</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Item_ID)

            <div class="form-group">
                @Html.Label("Item Category")
                @Html.DropDownList("ItemCategory_ID", (IEnumerable<SelectListItem>)ViewData["ItemCategory"], "--Select Category--",
               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemCategory_ID, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Item Code")
                @Html.TextBoxFor(model => model.Item_Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item_Code, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Item Name")
                @Html.TextBoxFor(model => model.Item_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Unit")
                @Html.DropDownList("UnitOfMeasurement_ID", (IEnumerable<SelectListItem>)ViewData["Unit"], "--Select Category--",
               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitOfMeasurement_ID, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("HSN Code")
                @Html.TextBoxFor(model => model.HSN_Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HSN_Code, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Current Stock")
                @Html.TextBoxFor(model => model.Current_Stock, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Current_Stock, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Price")
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Tax")
                @Html.DropDownList("Tax", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Tax: 0%", Value = "0%" },
                    new SelectListItem{ Text="Tax: 5%", Value = "5%" },
                    new SelectListItem{ Text="Tax: 18%", Value = "18%" },
                    new SelectListItem{ Text="Tax: 12%", Value = "12%" },
                    new SelectListItem{ Text="Tax: 3%", Value = "3%" },
                    new SelectListItem{ Text="Tax: 9%", Value = "9%" },
                    new SelectListItem{ Text="Tax: 0.1%", Value = "0.1%" },
                    new SelectListItem{ Text="Tax: 0.25%", Value = "0.25%" }
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Description")
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "error mt-2 text-danger" })
            </div>

            <button type="submit" class="btn btn-primary mr-2">Update</button>
            @Html.ActionLink("Back to List", "Index", new { @class = "font-weight-light" })

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
