@model IEnumerable<InVanWebApp_BO.FinishedGoodSeriesBO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Finished Good Series</title>
    @*<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" />*@
</head>
<body>
    <div class="content-wrapper" runat="server" id="divPanel1">
        <div class="page-header" style="height:5px;">
            <h4 class="page-title">Finished Good Series</h4>
            <nav aria-label="breadcrum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("ReorderPointOfStocks","Dashb_RTWarehouseWiseStock")">Production</a>
                    </li>
                    <li class="breadcrumb-item active">Finished Good Series</li>
                </ol>
            </nav>
        </div>
        <hr />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="@Url.Action("AddFinishedGoodSeries","FinishedGoodSeries")" class="btn btn-sm btn-primary pull-right btn-addnew" style="float: right; background: linear-gradient(85deg, #392c70, #6a005b);">
                                        <span class="fa fa-plus"></span> Finished Good Series
                                    </a>
                                </div>
                            </div>
                            <br />
                            <table id="tblFinishedGoodSeries" class="table table-striped table-bordered hover table-sm table-responsive-md" width="100%" style="table-layout: fixed;">
                                <thead class="text-center" style="text-align:center">
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th class="text-wrap">Product Name</th>
                                        <th class="text-wrap">Package Size</th>
                                        <th class="text-wrap">Manufacture Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@Html.Raw(TempData["Success"])
@section scripts{
    @*<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" />*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script type="text/javascript">
        $(document).ready(function () {
            BindFinishedGoodSeries();
            setCurrentDate();
        });

        function setCurrentDate() {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            $('#fromDate').val(today);
            $('#toDate').val(today);
        }
        function OnChangedFromDate() {
            $('#fromDateValidate').hide();
        }

        function OnChangedToDate() {
            $('#toDateValidate').hide();
        }

        function BindFinishedGoodSeries() {
            /*var flagdate = 1;*/
            var i = 1;
            $('#tblFinishedGoodSeries').dataTable().fnDestroy();
            var t = $('#tblFinishedGoodSeries').dataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "pageLength": 10,
                /*"sAjaxSource": "/FinishedGoodSeries/GetAllFinishedGoodSeriesList?flagdate=" + flagdate,*/
                "sAjaxSource": "/FinishedGoodSeries/GetAllFinishedGoodSeriesList" ,
                "initComplete": function (settings, json) {
                    var result = JSON.stringify(json);
                    flag = parseFloat(result.length);

                    if (flag > 11) {
                        $('#ExportPdf').show();
                        $('#ExportExcel').show();
                    }
                    else {
                        $('#ExportPdf').hide();
                        $('#ExportExcel').hide();
                    }
                },
                /*"scrollX": true,*/
                "columns": [
                    {
                        "render": function (data, type, full, meta) {
                            return i++;
                        }
                    },
                    { "data": "ProductName", "autoWidth": true },
                    { "data": "PackageSize", "autoWidth": true },
                    {
                        "data": "MfgDate",
                        "autoWidth": true,
                        "render": function (value) {
                            var dateString = value.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var month = currentTime.getMonth() + 1;
                            var monthString = month > 9 ? month : '0' + month;
                            var day = currentTime.getDate();
                            var dayString = day > 9 ? day : '0' + day;
                            var year = currentTime.getFullYear();
                            var date = dayString + "/" + monthString + "/" + year;
                            return date;
                        }
                    },
                    //{ "data": "BatchNo", "autoWidth": true },
                    //{ "data": "WorkOrderNo", "autoWidth": true },
                    {
                        data: "FGSID", "render": function (data) {
                            return '<button type="button" id="' + data + '" class = "btn text-primary btnEye" title="View FGS"><i class="fa fa-eye text-primary"/></i></button>' +'<button type="button" id="'
                                + data + '" class = "btn text-danger btnDelete" title="Delete FGS"><i class="fa fa-trash"/></i></button>'

                            //return '<button type="button" id="' + data + '" class = "btn text-primary btnEye"><i class="fa fa-eye text-primary"/></i></button>'+'<button type="button" id="' + data + '" class = "btn text-primary btnEdit"><i class="fa fa-edit"/></i></button> <button type="button" id="'
                            //        + data + '" class = "btn text-danger btnDelete"><i class="fa fa-trash"/></i></button>'
                        }
                    }
                ],
                //< i class= "fa fa-eye text-primary" ></i >
                columnDefs: [
                    {
                        render: function (data, type, full, meta) {
                            return "<div class='text-wrap width-200'>" + data + "</div>";
                        },
                        targets: 1
                    }
                ]


            });
        }

          $(document).on("click", ".btnEye", function () {
                    var id = $(this).attr("id");
                    window.location.href = '@Url.Action("ViewFinishedGoodSeries", "FinishedGoodSeries", new { Id = "Id"})'.replace("Id", parseInt(id));
                });

       $(document).on("click", ".btnEdit", function () {
                    var id = $(this).attr("id");
                    window.location.href = '@Url.Action("EditFinishedGoodSeries", "FinishedGoodSeries", new { Id = "Id"})'.replace("Id", parseInt(id));
                });
       $(document).on("click", ".btnDelete", function () {
                    var id = $(this).attr("id");
                    if (confirm("Are you sure want to delete?")) {
                        window.location.href = '@Url.Action("Delete", "FinishedGoodSeries", new { Id = "Id"})'.replace("Id", parseInt(id));
                    }
                })
    </script>
}
