@model InVanWebApp_BO.FinishedGoodSeriesBO
@{ ViewBag.Title = "ViewFinishedGoodSeries";
    Layout = "~/Views/Shared/MainMaster.cshtml"; }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finished Goods Series</title>
    <style>
        html2canvas-container {
            width: 3000px !important;
            height: 2000px !important;
        }

        hr {
            color: black;
            height: -1%
        }
    </style>
</head>
<body>
    @Html.HiddenFor(model => model.FGSID)
    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()
                <div class="row" id="printV" width="1000px">
                    <div class="col-md-12  grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <img class="align-self-center" src="~/Theme/MainContent/images/Logo.svg" alt="client-logo" style="width:10%;">
                                    <h3 class="card-title font-weight-bold align-self-center col-4 mb-0" style="font-size: 30pt;">Finished Goods Series</h3>

                                    <div class="col">
                                        <div class="col-md-12">
                                            @*<img src="~/Theme/MainContent/images/ICON.png.png" id="btnExport" class="float-right" style="width:45px;height:45px" onclick="ExportPdfFunction('printV','FinishedGoodsSeries_',590, 400)" />*@
                                            @*//Vedant added "ExportPdf" 13-07-23.*@
                                            <a id="ExportPdf" href="@Url.Action("ExportAsPDF", "FinishedGoodSeries")"> <img class="float-left" src="~/Theme/MainContent/images/ICON.png.png" style="width: 45px; height: 45px; padding-top: 1px; margin-top: 2%; margin-left: 500px" /> </a>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="col-md-12">
                                    <div style="font-size:110%; color:black;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Sales Order Number </label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.SONo)
                                            </div>
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Work Order No</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.WorkOrderNo)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Location</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.LocationName)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Product</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.ProductName)
                                            </div>
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Manufacture Date</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.MfgDate)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Package Size</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.PackageSize)
                                            </div>
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Quantity (Packets)</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.QuantityInKG)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">No of Carton Box of Product</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.NoOfCartonBox)
                                            </div>
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Batch No</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.BatchNo)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Packaging</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.Packaging)
                                            </div>
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Sealing</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.Sealing)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Labelling</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.Labelling)
                                            </div>
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Quality Control Check</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.QCCheck)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Expected Packets</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.ExpectedPackets)
                                            </div>
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Actual Packets</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.ActualPackets)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Expected Yield</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.ExpectedYield) %
                                            </div>

                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Actual Yield</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.ActualYield) %
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="font-weight-bold">Remarks</label>
                                            </div>
                                            <div class="col-md-4" style="color:black;">
                                                @Html.DisplayFor(model => model.Remarks)
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <br />
                                    <a href="@Url.Action("Index", "FinishedGoodSeries")" class="btn btn-sm btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b); float: right;" id="btnBack">
                                        Back To List
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>}
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>

@*These below scripts are used for expoting this page in pdf format.*@
<script src="~/Theme/MainContent/js/jquery.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/jspdf.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/html2canvas.js"></script>

<script src="~/Scripts/Script/CommonScripts.js"></script>
@*<script type="text/javascript">$(document).ready(function () {
        ModeChange();
        PaymentStatusChanged();
    });

    function ModeChange() {
        var mode = $('#PaymentMode').val();
        $('#dvCheque').hide();
        $('#dvAccountNo').hide();
        $('#dvCheque').hide();
        $('#dvIFSC').hide();
        $('#dvUTR').hide();

        if (mode == 'Cheque') {
            $('#dvBankName').show();
            $('#dvCheque').show();
            $('#dvBranchName').show();
        }
        else if (mode == 'Online') {
            $('#dvBankName').show();
            $('#dvBranchName').show();
            $('#dvAccountNo').show();
        }
        else if (mode == 'RTGS/NEFT') {
            $('#dvBankName').show();
            $('#dvBranchName').show();
            $('#dvAccountNo').show();
            $('#dvIFSC').show();
            $('#dvUTR').show();
        }
        else {
            $('#dvBankName').hide();
            $('#dvCheque').hide();
            $('#dvAccountNo').hide();
            $('#dvBranchName').hide();
            $('#dvIFSC').hide();
        }
    }

    function PaymentStatusChanged() {
        var tempVariable = $('#IsPaid option:selected').attr('value');
        if (tempVariable == 'Hold') {
            $("#Remarks").attr("required", "true");
            $("#RemarkSpan").css("display", "contents");
            return false;
        }
        else {
            $("#Remarks").removeAttr("required", "true");
            $("#RemarkSpan").css("display", "none");
            return true;
        }
    }</script>*@
