@model IEnumerable<InVanWebApp.DAL.PurchaseOrder>
@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<html>
<head>
    <title>Transactions</title>
</head>
<body>
    <div class="content-wrapper" runat="server" id="divPanel1">
        <div class="page-header">
            <h4 class="page-title">Transactions</h4>
            <nav aria-label="breadcrum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home"></i><a href="@Url.Action("Index","Dashboard")">Master</a>
                    </li>
                    <li class="breadcrumb-item active">Transactions</li>
                </ol>
            </nav>
        </div>
        <hr />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="nav-link">
                            <div class="float-right shadow">
                                <span class="btn btn-primary" id="TransactionID" data-toggle="dropdown" aria-expanded="false">
                                    + Add Transcation
                                </span>
                                <div class="dropdown-menu navbar-dropdown" aria-labelledby="AddTransactions">
                                    @*<a class="dropdown-item font-weight-medium" href=@Url.Action("AddOrderConfirmation","TransactionsPOandOC")>
                                            Order Confirmation
                                        </a>*@
                                    <a class="dropdown-item font-weight-medium" href=@Url.Action("AddOrderConfirmation","TransactionsPOandOC")>
                                        Order Confirmation
                                    </a>
                                    @*<button class="btn dropdown-item font-weight-medium" data-toggle="modal" data-target=".bootstrapmodal">Order Confirmation</button>*@
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item font-weight-medium" href=@Url.Action("AddPurchaseOrder","TransactionsPOandOC")>
                                        Purchase Order
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        @*<th>
                                            @Html.DisplayName("Company Name")
                                        </th>*@
                                        <th>
                                            @Html.DisplayName("Transaction Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Document Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Invoice Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Goods Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Last Modified date")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Edit/Delete")
                                        </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tittle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DocumentNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InvoiceStat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GoodsStat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastModifiedDate)
                                            </td>
                                            <td>
                                                @if (item.DraftFlag!=false)
                                                {
                                                    @Html.ActionLink("Edit", "EditOrderConfirmation", "TransactionsPOandOC", new { PurchaseOrderId = item.PurchaseOrderId, TransactionFlag = item.TransactionFlag }, null)
                                                }
                                                else{ 
                                                    @Html.ActionLink("View", "ViewTransaction", "TransactionsPOandOC", new { PurchaseOrderId = item.PurchaseOrderId, TransactionFlag = item.TransactionFlag }, new { target = "_blank" })
                                                }

                                               |@Html.ActionLink("Delete", "DeleteTransactions", new { PurchaseOrderId = item.PurchaseOrderId })
                                                @*<button class="btn btn-outline-primary" onclick="showSwal2('warning-message-and-cancel')">Delete</button>*@
                                            </td>
                                        </tr>
                                      }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@*<div class="modal fade bootstrapmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header font-weight-medium">
                <b>Select Buyer</b>
            </div>
            <div class="modal-body">
                @Html.DropDownList("CompanyID", (IEnumerable<SelectListItem>)ViewData["company"], "--Select Buyer--",
            new { @class = "form-control", @onchange = "ChangeEventCompanyDd()" })
            </div>
            <div class="modal-footer"></div>
        </div>

    </div>
</div>*@
@*<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function ChangeEventCompanyDd() {
        var value = $("#CompanyID").val();
       
    }
    
</script>*@
<script>
    
    console.log("abc:")
</script>