@model InVanWebApp_BO.ProductionMaterialIssueNoteBO
@{
    ViewBag.Title = "AddProductionMaterialIssueNote";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@using (Html.BeginForm("AddProductionMaterialIssueNote", "ProductionMaterialIssueNote"))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <h4>Add Production Material Issue Note</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Document Number")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ProductionMaterialIssueNoteNo, new { @class = "form-control form-control-sm", Value = ViewData["DocumentNo"], @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ProductionMaterialIssueNoteNo, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Document Date")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ProductionMaterialIssueNoteDate, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm", type = "date", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ProductionMaterialIssueNoteDate, "", new { @class = "error mt-2 text-danger" })
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Issued By")
                    <span style="color:red">*</span>
                </div>
                @if (@Session["UserId"] != null)
                {
                    <div class="col-md-4 d-none">
                        @Html.TextBoxFor(model => model.IssueBy, new { @class = "form-control form-control-sm", Value = @Session["UserId"], @readonly = "readonly" })
                    </div>
                }

                @if (@Session["UserName"] != null)
                {
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.IssueByName, new { @class = "form-control form-control-sm", Value = @Session["UserName"], @readonly = "readonly" })
                    </div>
                }
                <div class="col-md-2">
                    @Html.Label("Location")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.LocationId, (IEnumerable<SelectListItem>)ViewData["LocationList"], "---Select---", new { @class = "form-control form-control-sm"})
                    @Html.ValidationMessageFor(model => model.LocationId, "", new { id = "LocationIdErr", @class = "error mt-2 text-danger" })
                    @Html.HiddenFor(model => model.LocationName)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Production Indent Number")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("ProductionIndentId", (IEnumerable<SelectListItem>)ViewData["ProductionIndentNumberAndId"], "--Select--",
                        new { @class = "form-control form-control-sm", onchange = "SelectedIndexChangedPI()" })
                    @Html.ValidationMessageFor(model => model.ProductionIndentID, "", new { @class = "error mt-2 text-danger" })
                    @Html.HiddenFor(model => model.ProductionIndentNo)
                </div>
                <div class="col-md-2">
                    @Html.Label("Work Order Number")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model=>model.WorkOrderNumber,new { @class = "form-control form-control-sm", @readonly="readonly" })
                    @Html.ValidationMessageFor(model => model.WorkOrderNumber, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2 mb-1">
                    @Html.Label("Remarks")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control form-control-sm", maxlength = "96" })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>
            <hr />
            <div class="row">
                <h4 style="color:darkcyan">Ingredient Details</h4>
            </div>
            <hr />

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                    <table class="table table-striped" id="submissionTable">
                                        <thead>
                                            <tr style="background-color:rgba(0, 0, 0, 0.05);">
                                                <th class="sortStyle">Item Code</th>
                                                <th class="sortStyle d-n d-none">Item Id</th>
                                                <th class="sortStyle">Item</th>
                                                <th class="sortStyle">Requested Quantity</th>
                                                <th class="sortStyle">Issued Quantity</th>
                                                <th class="sortStyle">Issuing Quantity</th>
                                                <th class="sortStyle">Balance Quantity</th>
                                                <th class="sortStyle">Available Stock</th>
                                                <th class="sortStyle">UOM</th>
                                                <th class="sortStyle">Price (Per Unit)</th>
                                                <th class="sortStyle">Currency</th>
                                                <th class="sortStyle">Final Stock</th>
                                                <th class="sortStyle d-none">Actual balance Qty</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @*<hr />*@
            <div class="col d-flex justify-content-end" style="margin-left: auto;">
                <div class="row">
                    <div class="col">
                        <button type="submit" id="btnSave" class="btn btn-sm btn-primary mr-2" style="background: linear-gradient(85deg, #392c70, #6a005b); float:right;" onclick="SaveBtnClick()">Save</button>
                    </div>
                    <div class="col">
                        <a href="@Url.Action("Index", "ProductionMaterialIssueNote")" class="btn btn-sm btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b); float: right;">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.txtItemDetails)
        </div>
    </div>
}
@Html.Raw(TempData["Success"])

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/Script/AddProductionMaterialIssueNote.js"></script>