@model IEnumerable<InVanWebApp_BO.PurchaseOrderBO>

@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<html>
<head>
    <title>Purchase Order</title>
</head>
<body>

    <div class="content-wrapper" runat="server" id="divPanel1">
        <div class="page-header" style="height:5px;">
            <h4 class="page-title">Purchase Order</h4>
            <nav aria-label="breadcrum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("ReorderPointOfStocks","Dashb_RTWarehouseWiseStock")">Transactions</a>
                    </li>
                    <li class="breadcrumb-item active">Purchase Order</li>
                </ol>
            </nav>
        </div>
        <hr />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="@Url.Action("AddPurchaseOrder","PurchaseOrder")" class="btn btn-sm btn-primary" style="float: right; background: linear-gradient(85deg, #392c70, #6a005b);">
                                <span class="fa fa-plus"></span> Purchase Order
                            </a>
                            <div class="table-responsive" style="padding-top:15px;">
                                <table class="table table-striped table-bordered hover table-sm" id="tbl_PO">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayName("PO Number")</th>
                                            <th>@Html.DisplayName("Title")</th>
                                            <th>@Html.DisplayName("Supplier Name")</th>
                                            <th>@Html.DisplayName("Last Modified Date")</th>
                                            <th>@Html.DisplayName("PO Status")</th>
                                            <th>@Html.DisplayName("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-link" style="background-color:transparent" data-toggle="modal" title="PO Timeline" data-target="#myModal" id="@item.PurchaseOrderId" onclick="TimelineViewDetails(this.id)" >@Html.DisplayFor(modelItem => item.PONumber)</button>
                                                </td>
                                                <td class="text-wrap">@Html.DisplayFor(modelItem => item.Tittle)</td>
                                                @*<td>@Html.DisplayFor(modelItem => item.PONumber)</td>*@
                                                <td class="text-wrap">
                                                    @Html.DisplayFor(modelItem => item.SupplierAddress)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LastModifiedDate)
                                                </td>
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.PurchaseOrderStatus)*@
                                                    @if (item.PurchaseOrderStatus == "Closed")
                                                    {
                                                        <p style="color: #17d317;font-weight:bold" class="btn">

                                                            @Html.DisplayFor(modelItem => item.PurchaseOrderStatus, new { style = "color:green" })
                                                        </p>
                                                    }
                                                    else if (item.PurchaseOrderStatus == "Open")
                                                    {
                                                        <p style="color: darkorange; font-weight: bold" class="btn">

                                                            @Html.DisplayFor(modelItem => item.PurchaseOrderStatus, new { style = "color:#c900e1" })
                                                        </p>
                                                    }
                                                    else if (item.PurchaseOrderStatus == "Cancelled")
                                                    {
                                                        <p style="color:red;font-weight:bold" class="btn">

                                                            @Html.DisplayFor(modelItem => item.PurchaseOrderStatus, new { style = "color:red" })
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color: #ffc800; font-weight: bold" class="btn">

                                                            @Html.DisplayFor(modelItem => item.PurchaseOrderStatus, new { style = "color:#ffbc00" })
                                                        </p>
                                                    }
                                                </td>
                                                <td>

                                                    @if (item.DraftFlag == true)
                                                    {
                                                        <a href=@Url.Action("EditPurchaseOrder", new { PurchaseOrderId = item.PurchaseOrderId }) title="Edit PO">
                                                            <i class="fa fa-edit text-primary"></i>
                                                        </a>
                                                        <span>&nbsp;&nbsp;</span>
                                                        <a href=@Url.Action("DeletePurchaseOrder", new { PurchaseOrderId = item.PurchaseOrderId, }) onclick="return confirm('Are you sure want to delete the PO?');" title="Delete PO">
                                                            @*<i class="fa fa-trash" aria-hidden="true" style="color:tomato"></i>*@
                                                            <i class="fa fa-trash" aria-hidden="true" style="color:tomato"></i>
                                                        </a><span>&nbsp;&nbsp;</span>
                                                    }
                                                    @if (item.InwardCount <= 0 & item.DraftFlag == false)
                                                    {
                                                        if (item.Amendment != 2)
                                                        {
                                                            <a href=@Url.Action("POAmendment", new { PurchaseOrderId = item.PurchaseOrderId }) title="Amend PO">
                                                                <i class="fa fa-file-alt text-primary"></i>
                                                            </a><span>&nbsp;&nbsp;</span>
                                                        }
                                                        <a href=@Url.Action("DeletePurchaseOrder", new { PurchaseOrderId = item.PurchaseOrderId, }) onclick="return confirm('Are you sure want to delete the PO?');" title="Delete PO">
                                                            <i class="fa fa-trash" aria-hidden="true" style="color:tomato"></i>
                                                        </a><span>&nbsp;&nbsp;</span>
                                                    }
                                                    @if (item.DraftFlag == false)
                                                    {
                                                        <a href=@Url.Action("ViewPurchaseOrder", new { ID = item.PurchaseOrderId }) title="View PO">
                                                            <i class="fa fa-eye text-primary"></i>
                                                        </a><span>&nbsp;&nbsp;</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @*Model Started*@
                                <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                    @*<div class="modal-dialog modal-lg modal-dialog-centered">*@
                                    <div class="modal-dialog modal-lg" role="document">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            @*<div class="modal-header" dir="rtl">*@
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel" style="color:darkcyan">Transaction Timeline</h4>
                                                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Model end*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
@Html.Raw(TempData["Success"])


@section scripts{

    @*<script src="~/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
        <link href="~/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />*@

    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbl_PO').dataTable().fnDestroy();
            $('#tbl_PO').dataTable({
                "iDisplayLength": 10
            });
        });

        var table = $('#tbl_PO').dataTable({
            "serverSide": false,
            "filter": true,
            "pageLength": 20
        });

                function TimelineViewDetails(ID) {
            $.get("@Url.Action("TimelineViewPurchaseOrder", "PurchaseOrder")/" + ID,
                function (data) {
                    $('.modal-body').html(data);
                });

            //$("#myModal").modal("show");
            //$("#myModal").addClass("show");
                    $('#myModal').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget) // Button that triggered the modal
                        var recipient = button.data('whatever') // Extract info from data-* attributes
                        //// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                        //// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                        var modal = $(this)
                        //modal.find('.modal-title').text('New message to ' + recipient)
                        modal.find('.modal-body input').val(recipient)
                    })
        }

    </script>
}

<style>
    .horizontal-timeline .items {
        border-top: 3px solid #e9ecef;
    }

        .horizontal-timeline .items .items-list {
            display: block;
            position: relative;
            text-align: center;
            padding-top: 70px;
            margin-right: 0;
        }

            .horizontal-timeline .items .items-list:before {
                content: "";
                position: absolute;
                height: 36px;
                border-right: 2px dashed #dee2e6;
                top: 0;
            }

            .horizontal-timeline .items .items-list .event-date {
                position: absolute;
                top: 36px;
                left: 0;
                right: 0;
                /*width: 75px;*/
                width: 100px;
                margin: 0 auto;
                font-size: 0.9rem;
                padding-top: 8px;
            }

    @@media (min-width: 1140px) {
        .horizontal-timeline .items .items-list {
            display: inline-block;
            width: 24%;
            padding-top: 45px;
        }

            .horizontal-timeline .items .items-list .event-date {
                top: -40px;
            }
    }
</style>
