@model InVanWebApp_BO.PurchaseOrderBO

@{
    ViewBag.Title = "ViewPurchaseOrder";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase Order</title>
    <style>
        html2canvas-container {
            width: 3000px !important;
            height: 2000px !important;
        }
    </style>
</head>
<body>
    @Html.HiddenFor(model => model.PurchaseOrderId)
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" id="printV" width="1000px">
            <div class="col-md-12  grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <img src="~/Theme/MainContent/images/logo-mini.png" alt="client-logo" class="align-self-center" style="width:80px;height:50px;">
                            <h3 class="card-title font-weight-bold align-self-center col-4 mb-0" style="font-size: 16pt;">Purchase Order</h3>

                            <div class="col">
                                <div class="col-md-12">
                                    <img src="~/Theme/MainContent/images/ICON.png.png" id="btnExport" class="float-right" style="width:45px;height:45px" />
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Title</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.Tittle)
                                </div>
                                <br />
                                <div class="col-md-2">
                                    <label class="font-weight-bold">PO Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.PONumber)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">PO Document Date</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.PODate, "{0:yyyy-MM-dd}", new { style = "border:none; color:black; padding-top:1%; padding-left: 0.05%;font-size: 100%;", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Delivery Date</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.DeliveryDate, "{0:yyyy-MM-dd}", new { style = "border:none; color:black; padding-top:1%; padding-left: 0.05%;font-size: 100%;", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Amendment Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.Amendment)
                                </div>
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Indent Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.IndentNumber)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Location Name</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.LocationName)
                                </div>
                                <br />
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Vendors Name</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.CompanyName)
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="card-title" style="color:darkcyan">Delivery Details</h4>
                                    <hr />
                                    @Html.TextAreaFor(model => model.DeliveryAddress, new { style = "border:none; width:100%", @readonly = "readonly" })
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title" style="color:darkcyan">Supplier Details</h4>
                                    <hr />
                                    @Html.TextAreaFor(model => model.SupplierAddress, new { style = "border:none; width:100%", @readonly = "readonly" })
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <Center><h5 class="font-weight-bold">Item Details</h5></Center>
                                    <hr />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                            @*Rahul removed class table-striped and added class table-hover in table tag 16-02-2023.*@
                                            <table class="table table-hover" id="submissionTable">
                                                <thead>
                                                    <tr>
                                                        <th class="sortStyle">
                                                            #
                                                        </th>
                                                        <th class="sortStyle">
                                                            Item Code
                                                        </th>
                                                        <th class="sortStyle">
                                                            Item Description
                                                        </th>
                                                        <th class="sortStyle">
                                                            Quantity (Kg)
                                                        </th>
                                                        <th class="sortStyle">
                                                            Units
                                                        </th>
                                                        <th class="sortStyle">
                                                            Price (Rs)
                                                        </th>
                                                        <th>Currency</th>
                                                        <th class="sortStyle">
                                                            Tax (%)
                                                        </th>
                                                        <th class="sortStyle">
                                                            Total before tax
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="myTableBody">
                                                    @{ int c = 1;
                                                        foreach (var item in Model.itemDetails)
                                                        {
                                                            <tr id="tablerow_@c">
                                                                <td>
                                                                    <label>@c.</label>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.Item_Code)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.ItemName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.ItemQuantity)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.ItemUnit)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.ItemUnitPrice)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.CurrencyName)
                                                                </td>
                                                                <td>
                                                                    @*Rahul added style line-height: 1.5rem; in ItemTaxValue tag 16-02-2023.*@ 
                                                                    @Html.TextBoxFor(x => item.ItemTaxValue, new { id = "itemTax_" + c, style = "border:none;background: none;line-height: 1.5rem;", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @*Rahul added style line-height: 1.5rem; in TotalItemCost tag 16-02-2023.*@ 
                                                                    @Html.TextBoxFor(x => item.TotalItemCost, new { id = "totalItemCost_" + c, style = "border:none;background: none;line-height: 1.5rem;", @readonly = "readonly" })
                                                                </td>
                                                            </tr>
                                                            { c++; }
                                                        }

                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TxtItemDetails, new { style = "display:none" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <hr />
                                    <Center><h5 class="font-weight-bold">Payment Details</h5></Center>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Total (before tax): </label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            <input class="text-right" id="TotalBeforeTax" name="TotalBeforeTax" style="border:none;" readonly="readonly" />
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                            @*<div class="font-weight-bold" id="CurrencyType"></div>*@
                                            @*<b>Rs.</b>*@
                                            @Html.TextBoxFor(model => model.CurrencyName, new { @class = "font-weight-bold d-none" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Total tax: </label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            <input class="text-right" id="TotalTax" name="TotalTax" style="border:none;" readonly="readonly" />
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType1" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Other Tax:</label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.OtherTax, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType2" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Total (after tax):</label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.TotalAfterTax, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType2" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Grand Total:</label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.GrandTotal, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType3" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Advanced To Pay:</label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.AdvancedPayment, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType4" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Terms And Condition</label>
                                </div>
                                <div class="col-md-10 text-justify">
                                    @Html.DisplayFor(model => model.Terms)
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">

                                    <div id="imagePreview">
                                        <img src="/Signatures/@Model.Signature" style="height:80%;width:60%" />
                                        @Html.HiddenFor(x => x.Signature)
                                    </div>
                                    @*<img src="@ViewBag.ImageURL" style="height:200px;width:200px;" />*@
                                    <p class="font-weight-bold"> Authorized Signature</p>
                                </div>
                            </div>
                            <br />
                            <a href="@Url.Action("Index", "PurchaseOrder")" class="btn btn-sm btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b); float: right;" id="btnBack">
                                Back To List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>

<script src="~/Theme/MainContent/js/jquery.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/jspdf.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/html2canvas.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        CalculateTotalBeforeTax();
        var type = $('#CurrencyName').val();
        if (type != null) {
            $('.CurrencyType').val(type);
        }
        else
            $('.CurrencyType').val('Rs.');

    });

    function CalculateTotalBeforeTax() {
        //$('#TotalBeforeTax').val('');
        //$('#TotalTax').val('');
        var length = document.getElementById("submissionTable").rows.length;
        length = parseFloat(length) - 1;
        var total = 0;
        var totalTax = 0;
        var i = 1;
        while (i <= length) {
            var temp = document.getElementById("totalItemCost_" + i).value;
            var tempTotalTax = document.getElementById("itemTax_" + i).value;
            total = parseFloat(temp) + total;

            tempTotalTax = Math.round((parseFloat(tempTotalTax) / 100) * parseFloat(temp));
            totalTax = parseFloat(tempTotalTax) + totalTax;
            i++;
        }
        $('#TotalBeforeTax').val(total);
        $('#TotalTax').val(totalTax);
        //var tempGrandTotal = total + totalTax;
        //$('#TotalAfterTax').val(tempGrandTotal);
        //$('#GrandTotal').val(tempGrandTotal);

        //createJson();
    }

    $('#btnExport').click(function () {
        var printD = document.getElementById("printV");
        $("#btnExport").hide();
        $("#btnBack").hide();
        // $("#btnPrint").hide();
        html2canvas(printD).then(function (canvas) {

            var img = canvas.toDataURL("image/png", 1.0);

            var doc = new jsPDF('p', 'pt', 'a4');

            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };

            doc.addImage(img, 'JPEG', 5, 5, 580, 480);
            doc.fromHTML(printD, 15, 15, {
                'width': 200,
                // 'margin':[10,60,40,20],
                'elementHandlers': specialElementHandlers
            });
            var currentDate = new Date();
            //var time = getTime();
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            console.log(time);
            var today = formatDate(currentDate);
            doc.save('PurchaseOrder_' + today + '_' + time + '.pdf');
            $("#btnExport").show();
            $("#btnBack").show();
            //$("#btnPrint").show();
        });
        //window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);

    });

    function formatDate(date) {
        // alert(date);
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;
        return [day, month, year].join('-');
        //return [year, month, day].join('-');
    }
</script>