@model InVanWebApp_BO.UnitMaster
@{
    ViewBag.Title = "AddUnit";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Unit</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Unit Name")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.UnitName, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Unit Code")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.UnitCode, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.UnitCode, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Description")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary mr-2" style="background: linear-gradient(85deg, #392c70, #6a005b);">Submit</button>
            <a href="@Url.Action("Index", "Unit")" class="btn btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b);">
                Back To List
            </a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}