@model InVanWebApp_BO.ClorinationLogBO
@{
    ViewBag.Title = "EditClorinationLog";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <h4>Edit Clorination Log</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("User")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.VerifyByName, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.VerifyByName, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Date")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm", type = "date" })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Foot Washer")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FootWasher, new { @class = "form-control form-control-sm", maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.FootWasher, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Ro Water")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.RoWater, new { @class = "form-control form-control-sm", maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.RoWater, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Soft Water")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.SoftWater, new { @class = "form-control form-control-sm", maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.SoftWater, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Cooling Water Tank")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CoolingWaterTank, new { @class = "form-control form-control-sm", maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.CoolingWaterTank, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Processing Water")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ProcessingWater, new { @class = "form-control form-control-sm", maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.ProcessingWater, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-1">
                    @Html.Label("Remarks")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control form-control-sm", maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <br />
            <div class="col d-flex justify-content-end" style="margin-left: auto;">
                <div class="row">
                    <div class="col">
                        <button type="submit" id="btnSave" class="btn btn-sm btn-primary mr-2" style="background: linear-gradient(85deg, #392c70, #6a005b); float:right;" onclick="SaveBtnClick()">Update</button>
                    </div>
                    <div class="col">
                        <a href="@Url.Action("Index", "ClorinationLog")" class="btn btn-sm btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b); float: right;">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


