@model InVanWebApp_BO.CreditNoteBO
@{
    ViewBag.Title = "ViewCreditNote";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Credit Note</title>
    <style>
        html2canvas-container {
            width: 3000px !important;
            height: 2000px !important;
        }
    </style>
</head>
<body>
    @Html.HiddenFor(model => model.ID)
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" id="printV" width="1000px">
            <div class="col-md-12  grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <img src="~/Theme/MainContent/images/logo-mini.png" alt="client-logo" class="align-self-center" style="width:80px;height:50px;">
                            <h3 class="card-title font-weight-bold align-self-center col-4 mb-0" style="font-size: 16pt;">Credit Note</h3>

                            <div class="col">
                                <div class="col-md-12">
                                    <img src="~/Theme/MainContent/images/ICON.png.png" id="btnExport" class="float-right" style="width:45px;height:45px" onclick="ExportPdfFunction('printV','CreditNote',580,480)" />
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Credit Note Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.CreditNoteNo)
                                </div>
                                <br />
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Document Date</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.CreditNoteDate, "{0:yyyy-MM-dd}", new { style = "border:none; color:black; padding-top:1%; padding-left: 0.05%;font-size: 100%;", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Created By</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.UserName)
                                </div>
                                <br />
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Currency</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.CurrencyName)

                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Remarks</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.Remarks)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Location Name</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.LocationName)
                                </div>
                                <br />
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Vendors Name</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.VendorName)
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="card-title" style="color:darkcyan">Delivery Details</h4>
                                    <hr />
                                    @Html.TextAreaFor(model => model.DeliveryAddress, new { style = "border:none; width:100%", @readonly = "readonly" })
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title" style="color:darkcyan">Supplier Details</h4>
                                    <hr />
                                    @Html.TextAreaFor(model => model.VendorAddress, new { style = "border:none; width:100%", @readonly = "readonly" })
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <Center><h5 class="font-weight-bold">Item Details</h5></Center>
                                    <hr />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                            <table class="table table-striped" id="submissionTable">
                                                <thead>
                                                    <tr>
                                                        <th class="sortStyle">#</th>
                                                        <th class="sortStyle">Item Code</th>
                                                        <th class="sortStyle">Item</th>
                                                        <th class="sortStyle">PO Quantity</th>
                                                        <th class="sortStyle">Waste Quantity</th>
                                                        <th class="sortStyle">Units</th>
                                                        <th class="sortStyle">Price (Per Unit)</th>
                                                        <th class="sortStyle">Currency</th>
                                                        <th class="sortStyle">Tax</th>
                                                        <th class="sortStyle">Total Item Cost</th>
                                                        <th class="sortStyle">Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="myTableBody">
                                                    @{ int c = 1;
                                                        foreach (var item in Model.creditNoteDetails)
                                                        {
                                                            <tr id="tablerow_@c">
                                                                <td>
                                                                    <label>@c.</label>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.Item_Code)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.Item_Name)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.POQuantity)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.RejectedQuantity)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.ItemUnit)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.ItemUnitPrice)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.CurrencyName)
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(x => item.ItemTaxValue, new { id = "itemTax_" + c, style = "border:none;background: none; line-height: 1.5rem;", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(x => item.ItemTotalAmount, new { id = "totalItemCost_" + c, style = "border:none;background: none; ;line-height: 1.5rem;", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(x => item.Remarks)
                                                                </td>
                                                            </tr>
                                                            { c++; }
                                                        }

                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <hr />
                                    <Center><h5 class="font-weight-bold">Payment Details</h5></Center>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Total (before tax): </label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.TotalBeforeTax, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            @*<input class="text-right" id="TotalBeforeTax" name="TotalBeforeTax" style="border:none;" readonly="readonly" />*@
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                            @Html.TextBoxFor(model => model.CurrencyName, new { @class = "font-weight-bold d-none" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Total tax: </label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.TotalTax, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            @*<input class="text-right" id="TotalTax" name="TotalTax" style="border:none;" readonly="readonly" />*@
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType1" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Other Tax</label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.OtherTax, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType2" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold">Grand Total:</label>&emsp;
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.GrandTotal, new { @class = "text-right", style = "border:none", @readonly = "readonly" })
                                            <input class="text-left font-weight-bold CurrencyType" id="CurrencyType3" name="TotalBeforeTax" style="border: none; width: 10%;" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Terms And Condition</label>
                                </div>
                                <div class="col-md-10 text-justify">
                                    @Html.DisplayFor(model => model.Terms)
                                </div>
                            </div>
                            <br />
                            <br />
                            <a href="@Url.Action("Index", "CreditNote")" class="btn btn-sm btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b); float: right;" id="btnBack">
                                Back To List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>

@*These below scripts are used for expoting this page in pdf format.*@
<script src="~/Theme/MainContent/js/jquery.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/jspdf.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/html2canvas.js"></script>

<script src="~/Scripts/Script/CommonScripts.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var type = $('#CurrencyName').val();
        if (type != null) {
            $('.CurrencyType').val(type);
        }
        else
            $('.CurrencyType').val('Rs.');
    });

</script>

