@model InVanWebApp_BO.DailyMonitoringBO
@{
    ViewBag.Title = "EditDailyMonitoring";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <h4>Edit Daily Monitoring</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("User")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.VerifyByName, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.VerifyByName, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Date")
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm", type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Personal Hygine")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.PersonalHygine, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.PersonalHygine, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Cleaning and Sanitation")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.CleaningAndSanitation, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.CleaningAndSanitation, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Cleaning of Equipment")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.CleaningOfEquipment, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.CleaningOfEquipment, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Water Potability")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.WaterPotability, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.WaterPotability, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <hr />
            <div class="row">
                <h4 style="color:darkcyan">Raw Material Storage</h4>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Allergic")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Allergic, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Allergic, "", new { @class = "error mt-2 text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.Label("Non Allergic")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.NonAllergic, new List<SelectListItem>{
                   new SelectListItem{ Text="Ok", Value = "Ok" },
                   new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                   }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NonAllergic, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Vegetable Processing Area")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.VegetableProcessingArea, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.VegetableProcessingArea, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Packaging Labelling Area")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.PackagingLabellingArea, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.PackagingLabellingArea, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("FGS Area")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.FgsArea, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.FgsArea, "", new { @class = "error mt-2 text-danger" })
                </div>

            </div>
            <hr />
            <div class="row">
                <h4 style="color:darkcyan">Pest Control</h4>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Inside")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Inside, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Inside, "", new { @class = "error mt-2 text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.Label("Outside")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.OutSide, new List<SelectListItem>{
                    new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.OutSide, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <hr />
            <div class="row">
                <h4 style="color:darkcyan">Waste Disposal</h4>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Dry")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Dry, new List<SelectListItem>{
                     new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Dry, "", new { @class = "error mt-2 text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.Label("Wet")
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Wet, new List<SelectListItem>{
                     new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Wet, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <hr />
            <div class="row">
                <h4 style="color:darkcyan">Covid Guideline Followed</h4>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Outsiders")
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.OutSiders, new List<SelectListItem>{
                     new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.OutSiders, "", new { @class = "error mt-2 text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.Label("ProductionArea")
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.ProductionArea, new List<SelectListItem>{
                     new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.ProductionArea, "", new { @class = "error mt-2 text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.Label("Office Staff")
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.OfficeStaff, new List<SelectListItem>{
                     new SelectListItem{ Text="Ok", Value = "Ok" },
                    new SelectListItem{ Text="Not Ok", Value = "Not Ok" }
                    }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.OfficeStaff, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 mb-1">
                    @Html.Label("Remarks")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control form-control-sm", maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "error mt-2 text-danger" })
                </div>
            </div>

            <br />
            <div class="col d-flex justify-content-end" style="margin-left: auto;">
                <div class="row">
                    <div class="col">
                        <button type="submit" id="btnSave" class="btn btn-sm btn-primary mr-2" style="background: linear-gradient(85deg, #392c70, #6a005b); float:right;" onclick="SaveBtnClick()">Update</button>
                    </div>
                    <div class="col">
                        <a href="@Url.Action("Index", "DailyMonitoring")" class="btn btn-sm btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b); float: right;">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


