@model InVanWebApp_BO.TaxBO
@{
    ViewBag.Title = "Edit Tax";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Tax</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("Location Name")
                @Html.TextBoxFor(model => model.TaxName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TaxName, "", new { @class = "error mt-2 text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Remarks")
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "error mt-2 text-danger" })
            </div>

            <button type="submit" class="btn btn-primary mr-2">Update</button>
            @Html.ActionLink("Back to List", "Index", new { @class = "font-weight-light" })

        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}