@model InVanWebApp_BO.StockMovementBO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Stock Movement Report</title>
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" />
</head>
<body>
    <div class="content-wrapper" runat="server" id="divPanel1">
        <div class="page-header" style="height:5px;">
            <h4 class="page-title">Stock Movement Report</h4>
            <nav aria-label="breadcrum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Dashboard")">Reports</a>
                    </li>
                    <li class="breadcrumb-item active">Stock Movement Report</li>
                </ol>
            </nav>
        </div>
        <hr />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div style="padding-top:15px;" class="table-responsive">

                                @using (Html.BeginForm("ExprotAsPDF", "StockMovement", FormMethod.Post))
                                {

                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>From Date:</label>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.fromDate, "{0:yyyy-MM-dd}", new { @id = "fromDate", @class = "datepicker form-control form-control-sm", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.fromDate, "", new { @class = "col-form-label error mt-2 text-danger" })
                                        </div>
                                        &nbsp;
                                        <div class="col-md-2">
                                            <label>To Date:</label>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.toDate, "{0:yyyy-MM-dd}", new { @id = "toDate", @class = " datepicker form-control form-control-sm", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.toDate, "", new { @class = "col-form-label error mt-2 text-danger" })
                                        </div>
                                        &nbsp;
                                        <button id="btnGo" type="button" value="Go" name="Go" class="btn btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b);">Go</button>
                                        &emsp;

                                        <a style="font-size: 40px;" id="ExportPdf" href="@Url.Action("ExprotAsPDF", "StockMovement")" class="far fa-file-pdf float-right text-danger">

                                        </a>
                                    </div>
                                    <br />
                                }
                                <div style="margin-top:25px;">
                                    <table class="ui celled table table-striped table-bordered hover table-sm" id="tblInward">
                                        <thead>
                                            <tr>
                                            <tr>
                                                <th style="text-align:center">Sr.No.</th>
                                                <th style="text-align:center">Item Code</th>
                                                <th style="text-align:center">Item Name</th>
                                                <th style="text-align:center">Date</th>
                                                <th style="text-align:center">From Location</th>
                                                <th style="text-align:center">From Location Before Transfer Qty</th>
                                                <th style="text-align:center">Transfer Quantity</th>
                                                <th style="text-align:center">Value Out</th>
                                                <th style="text-align:center">Balance Qty From Location</th>
                                                <th style="text-align:center">Action</th>
                                                <th style="text-align:center">To Location</th>
                                                <th style="text-align:center">ToLocation FinalQty</th>
                                                <th style="text-align:center">Value In</th>
                                                <th style="text-align:center">Price Per Unit(rs)</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center"></tbody>
                                        @*<tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.SrNo)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Item_Code)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Item_Name)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.FromLocationName)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.FromLocation_BeforeTransferQty)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.TransferQuantity)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.ValueOut)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.BalanceQty_FromLocation)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Action)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.ToLocationName)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.ToLocation_FinalQty)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.ValueIn)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>

                                                    </tr>
                                                }
                                            </tbody>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@Html.Raw(TempData["Success"])

@section scripts{

    @*<script src="~/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
        <link href="~/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script type="text/javascript">

        $(document).ready(function () {
            $('#ExportPdf').hide();
            $('#tblInward').hide();
        });

        $("#btnGo").on('click', function () {

            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            var tempFromDate = new Date();
            tempFromDate= fromDate;
            var tempToDate = new Date();
            tempToDate= toDate;
            if (tempFromDate > tempToDate) {
                alert('Invalid Date!');
                $('#fromDate').focus();
                return;
            }
            else {
                $('#ExportPdf').show();
                $('#tblInward').show();
            }

            $('#tblInward').dataTable().fnDestroy();
            var t = $('#tblInward').DataTable({
                //"processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true,
                "pageLength": 20,
                "sAjaxSource": "/StockMovement/GetStockMovementDate?fromDate=" + fromDate + "&toDate=" + toDate,
                "columns": [
                    { "data": "SrNo", "autoWidth": true },
                    { "data": "Item_Code", "autoWidth": true },
                    { "data": "Item_Name", "autoWidth": true },
                    { "data": "Date", "autoWidth": true },
                    { "data": "FromLocationName", "autoWidth": true },
                    { "data": "FromLocation_BeforeTransferQty", "autoWidth": true },
                    { "data": "TransferQuantity", "autoWidth": true },
                    { "data": "ValueOut", "autoWidth": true },
                    { "data": "BalanceQty_FromLocation", "autoWidth": true },
                    { "data": "Action", "autoWidth": true },
                    { "data": "ToLocationName", "autoWidth": true },
                    { "data": "ToLocation_FinalQty", "autoWidth": true },
                    { "data": "ValueIn", "autoWidth": true },
                    { "data": "UnitPrice", "autoWidth": true },
                ]

            });
            t.on('order.dt search.dt', function () {
                let i = 1;

                t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        })
    </script>
}

@*/*Rahul : Added style on 07 Nov 2022.*/*@
@*<style>
        div#tblInward_filter {
            float: left !important;
        }
    </style>*@