@*<nav class="sidebar sidebar-offcanvas" id="sidebar">*@
<ul class="nav">
    <li class="nav-item nav-profile">
        <div class="nav-link">
            <div class="profile-image">
                @*<img src="~/Theme/MainContent/images/faces/face5.jpg" alt="image" />*@
                <img src="~/Theme/MainContent/images/faces/Unknown.png" alt="image" />
            </div>
            <div class="profile-name">
                <p class="name">
                    Welcome VangiFood
                </p>
                <p class="designation">
                    Super Admin
                </p>
            </div>
        </div>
    </li>
    <li class="nav-item">
        @*<a class="nav-link" href="~/Home/MainMaster">*@
        <a class="nav-link" href="~/Dashboard/Index">
            <i class="fa fa-home menu-icon"></i>
            <span class="menu-title">Home</span>
        </a>
    </li>
    @*<li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-puzzle-piece menu-icon"></i>
                <span class="menu-title">Summery</span>
            </a>
        </li>*@
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
            <i class="fab fa-trello menu-icon"></i>
            <span class="menu-title">Dashboard</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="page-layouts">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="~/Dashboard/Index">Live Stock</a></li>
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="@Url.Action("SalesOrder","Dashboard")">Sales Order</a></li>
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="#">Stock Avaliblity</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Utlity</a></li>
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="#">Order Summary</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Yield Dashboard</a></li>
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="#">Reorder Point</a></li>
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="#">Inquiry @*and Inquiry converted into*@ Order</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Stock @*with total quantity and rate*@</a></li>
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="#">FIFO Dashboard @*with Expiry date hightlighting*@</a></li>
                <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="#">Utitlity @*Consumption by*@ batch,order</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Analitical Dashboard @*for costing of order*@</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item d-none d-lg-block">
        <a class="nav-link" data-toggle="collapse" href="#sidebar-layouts" aria-expanded="false" aria-controls="sidebar-layouts">
            <i class="fas fa-columns menu-icon"></i>
            <span class="menu-title">Transactions</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="sidebar-layouts">
            <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","TransactionsPOandOC")">PO and OC</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/InwardNote">Inward Note</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/OutwardNote">Outward Note</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/IssueNote">IssueNote</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">IssueNoteDetails</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">MaterialRequirement</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/GRN">GRN</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">SalesOrder</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/WorkOrder">WorkOrder</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">WorkOrderDetails</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">IssueReturnNote</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">IssueReturnNoteDetails</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/DebitNote">DebitNote</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">DebitNoteDetails</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/CreditNote">CreditNote</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/PRequestForQuotation">Request Quatation</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Material/QuatationComparision">QuatationComparision</a></li>
                @*<li class="nav-item"> <a class="nav-link" href="~/Material/PurchaseOrder">Pruchase Order</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Material/OrderConfirmation">Order Confirmation</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Material/PurchaseOrderfromclient">PO from client</a></li>*@
                <li class="nav-item"> <a class="nav-link" href="~/Material/UpdateStock">UpdateStock</a></li>

                @*<li class="nav-item"> <a class="nav-link" href="#">PurchaseOrderAmendment</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">PurchaseOrderAmendmentDetails</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">PRItemSchedule</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">SOItemSchedule</a></li>*@
                <li class="nav-item"> <a class="nav-link" href="#">RequestForQuotation</a></li>
                @*  <li class="nav-item"> <a class="nav-link" href="#">POItemSchedule</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">InvoiceMaster</a></li>*@
                <li class="nav-item"> <a class="nav-link" href="~/Material/RejectionNote">Rejection Note</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Delivery Challan</a></li>

            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="far fa-compass menu-icon"></i>
            <span class="menu-title">Inventory</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                @*<li class="nav-item"> <a class="nav-link" href="#">StockMaster</a></li>

                    <li class="nav-item"> <a class="nav-link" href="#">StockAdjustmentMaster</a></li>*@

                @*<li class="nav-item"> <a class="nav-link" href="#">StorageItemMapping</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">StorageLocationMaster</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">StockAdjustmentTransaction</a></li>*@
                <li class="nav-item"> <a class="nav-link" href="~/Inventory/StockTransfer">StockTransferMaster</a></li>
                @*<li class="nav-item"> <a class="nav-link" href="#">StockTransferTransaction</a></li>*@
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
            <i class="fas fa-clipboard-list menu-icon"></i>
            <span class="menu-title">QC</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-advanced">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="~/QC/QCProductSpecification">QCProduction<br /> SpecificationMaster</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/QC/QCSorting">QC Sorting</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">QC Rejection</a></li>
                @*<li class="nav-item"> <a class="nav-link" href="~/QC/QCSorting.cshtml">LabMaster</a></li>*@
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
            <i class="fab fa-wpforms menu-icon"></i>
            <span class="menu-title">Daily Operations</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/CalibrationLogSheetForInstruments">Calibration Log</a></li>
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/Chlorination">Chlorination</a></li>
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/CriticalControlPointLogSheet">CriticalControlPoint</a></li>
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/PreStartupHygiene">Pre-Startup Hygiene</a></li>
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/ProductEvaluationLog">ProductEvaluationLog</a></li>
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/SanitizationHygine">Sanitization & Hygine</a></li>
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/VegWasherDosageLog">Veg Washer Dosage Log</a></li>
                <li class="nav-item"><a class="nav-link" href="~/DailyOperations/WaterAnalysis">Water Analysis</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
            <i class="fas fa-pen-square menu-icon"></i>
            <span class="menu-title">Masters</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="editors">
            <ul class="nav flex-column sub-menu">
                @*<li class="nav-item"><a class="nav-link" href="~/Master/AddEditBranch">Branch</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/Company">Company</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/CurrencyMaster">CurrencyMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/Department">Department</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/DesignationMaster">Designation Master</a></li>*@
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","ItemType")">Item Type</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","ItemCategory")">Item Category</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Item")">Item</a></li>
                @*<li class="nav-item"><a class="nav-link" href="~/Master/UserMaster">User Master</a></li>*@
                @*<li class="nav-item"><a class="nav-link" href="#">RoleRights</a></li>*@
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Location")">Location</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Role")">Roles</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Tax")">Tax</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Unit")">Unit</a></li>
                @*<li class="nav-item"><a class="nav-link" href="~/Master/ClientMaster">ClientMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/ActivityLog">ActivityLog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">SystemLog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">InquiryMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="#">OrganisationGroups</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Organisations</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/ProcessTypeMaster">ProcessTypeMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/ProcessMaster">ProcessMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="#">RecipeMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="#">ScreenName</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/SupplierMaster">SupplierMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="#">TermsAndConditionMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Status</a></li>
                <li class="nav-item"><a class="nav-link" href="#">YearMaster</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/MaterialReturnNote">MaterialReturnNote</a></li>
                <li class="nav-item"><a class="nav-link" href="~/Master/QCProductSpecificationMaster">QCProductSpecification</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Master/UnitMaster">UnitMaster</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Master/MonitoringParametersMaster">MonitoringParametersMaster</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Master/MachineMaster">MachineMaster</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/Master/DocumentNumberFormatMaster">Document Format</a></li>*@
            </ul>
        </div>
    </li>
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="fas fa-chart-pie menu-icon"></i>
                <span class="menu-title">Charts</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/morris.html">Morris</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/flot-chart.html">Flot</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/google-charts.html">Google charts</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/sparkline.html">Sparkline js</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/c3.html">C3 charts</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/chartist.html">Chartists</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/justGage.html">JustGage</a></li>
                </ul>
            </div>
        </li>*@
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
            <i class="fas fa-table menu-icon"></i>
            <span class="menu-title">Reports</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Report_OC_Index","TransactionsPOandOC")">Sales Order Report</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Inventory</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Material</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Production</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">QC</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Daily Operations</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Accounts</a></li>
            </ul>
        </div>
    </li>
    @*<li class="nav-item">
            <a class="nav-link" href="pages/ui-features/popups.html">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Popups</span>
            </a>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" href="pages/ui-features/notifications.html">
                <i class="fas fa-bell menu-icon"></i>
                <span class="menu-title">Notifications</span>
            </a>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="fa fa-stop-circle menu-icon"></i>
                <span class="menu-title">Icons</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/icons/flag-icons.html">Flag icons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/icons/simple-line-icon.html">Simple line icons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/icons/themify.html">Themify icons</a></li>
                </ul>
            </div>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#maps" aria-expanded="false" aria-controls="maps">
                <i class="fas fa-map-marker-alt menu-icon"></i>
                <span class="menu-title">Maps</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="maps">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/maps/mapeal.html">Mapeal</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/maps/vector-map.html">Vector Map</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/maps/google-maps.html">Google Map</a></li>
                </ul>
            </div>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="fas fa-window-restore menu-icon"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Login 2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>
                </ul>
            </div>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                <i class="fas fa-exclamation-circle menu-icon"></i>
                <span class="menu-title">Error pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                </ul>
            </div>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <i class="fas fa-file menu-icon"></i>
                <span class="menu-title">General Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/profile.html"> Profile </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/faq.html"> FAQ </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/faq-2.html"> FAQ 2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/news-grid.html"> News grid </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/timeline.html"> Timeline </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/search-results.html"> Search Results </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/portfolio.html"> Portfolio </a></li>
                </ul>
            </div>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#apps" aria-expanded="false" aria-controls="apps">
                <i class="fas fa-briefcase menu-icon"></i>
                <span class="menu-title">Apps</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="apps">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/apps/email.html"> Email </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/apps/calendar.html"> Calendar </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/apps/todo.html"> Todo </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/apps/gallery.html"> Gallery </a></li>
                </ul>`
            </div>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#e-commerce" aria-expanded="false" aria-controls="e-commerce">
                <i class="fas fa-shopping-cart menu-icon"></i>
                <span class="menu-title">E-commerce</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="e-commerce">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/invoice.html"> Invoice </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/pricing-table.html"> Pricing Table </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/orders.html"> Orders </a></li>
                </ul>
            </div>
        </li>*@
    @*<li class="nav-item">
            <a class="nav-link" href="pages/documentation.html">
                <i class="far fa-file-alt menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>*@
</ul>
@*</nav>*@
