@model InVanWebApp_BO.RejectionNoteBO

@{
    ViewBag.Title = "ViewRejectionNote";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rejection Note</title>
    <style>
        html2canvas-container {
            width: 3000px !important;
            height: 2000px !important;
        }
    </style>
</head>
<body>
    @Html.HiddenFor(model => model.ID)
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" id="printV" width="1000px">
            <div class="col-md-12  grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <img class="align-self-center" src="~/Theme/MainContent/images/logo-mini.png" alt="client-logo" style="width:80px;height:50px;">
                            <!--&nbsp;&nbsp;&nbsp; //Rahul commented 30-12-2022.-->
                            <h3 class="card-title font-weight-bold col-4 mb-0 align-self-center" style="font-size: 16pt;">Rejection Note</h3>

                            <!--div class="row" style="margin-bottom: 1%;" //Rahul commented 30-12-2022.-->
                            <div class="col">
                                <div class="col-md-12">
                                    <!--Rahul removed style="margin-left: 1560%;" 30-12-2022. -->
                                    <img src="~/Theme/MainContent/images/ICON.png.png" id="btnExport" style="width:45px;height:45px" class=" float-right" />
                                </div>
                            </div>

                        </div>
                        <hr />

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Rejection Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.RejectionNoteNo)
                                </div>
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Note Date</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.NoteDate) 
                                    @*@Html.TextBoxFor(model => model.NoteDate, "{0:yyyy-MM-dd}", new { style = "border:none; color:black; padding-top:1%; padding-left: 0.05%;font-size: 100%;", @readonly = "readonly" })*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">InwardQC Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.InwardQCNumber)
                                </div>

                                <div class="col-md-2">
                                    <label class="font-weight-bold">InwardNote Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.InwardNoteNumber)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">PO Number</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.PONumber)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Supplier Details</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.SupplierName)
                                    @*@Html.TextBoxFor(model => model.SupplierName, new { style = "border:none; width:100%", @readonly = "readonly" })*@
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <Center><h5 class="font-weight-bold">Item Details</h5></Center>
                                    <hr />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                            @*Rahul removed class table-striped and added class table-hover in table tag 09-02-2023.*@
                                            <table class="table table-hover" id="submissionTable" style="table-layout: auto;">
                                                <thead>
                                                    <tr>
                                                        <th class="sortStyle text-sm">
                                                            #
                                                        </th>
                                                        @*Rahul added class text-wrap in all th tag 09-02-23.*@
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Item Description
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Item Code
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Price Per Unit (Rs)
                                                        </th>
                                                        <th class="sortStyle text-sm">
                                                            Currency
                                                        </th>
                                                        <th class="sortStyle text-sm">
                                                            Units
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Total Quantity (Kg)
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Inward Quantity (Kg)
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Rejected Quantity (Kg)
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Quantity took for Sorting (Kg)
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Wastage (%)
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Tax (%)
                                                        </th>
                                                        <th class="sortStyle text-sm text-wrap">
                                                            Remarks
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="myTableBody">
                                                    @{ int c = 1;
                                                        foreach (var item in Model.itemDetails)
                                                        {
                                                            <tr id="tablerow_@c">
                                                                <td class=" text-sm">
                                                                    <label>@c.</label>
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.ItemName)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.ItemCode)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.ItemUnitPrice)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.CurrencyName)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.ItemUnit)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.TotalQuantity)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.InwardQuantity)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.RejectedQuantity)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.QuantityTookForSorting)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @Html.DisplayFor(x => item.WastageQuantityInPercentage)
                                                                </td>
                                                                <td class=" text-sm">
                                                                    @*Rahul added style width in ItemTaxValue tag 09-02-23.*@
                                                                    @Html.TextBoxFor(x => item.ItemTaxValue, new { id = "itemTax_" + c, style = "border:none;background: none;width: 70px;", @readonly = "readonly" })
                                                                </td>
                                                                <td class=" text-sm text-wrap">
                                                                    @Html.DisplayFor(x => item.Remarks, new { style = "width: 200px;"})
                                                                </td>
                                                            </tr>
                                                            { c++; }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.InwardQuantities, new { style = "display:none" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-9"></div>
                                <div class="col-md-3">
                                    @*@Html.DisplayFor(model => model.Signature)*@
                                    <div id="imagePreview"></div>
                                    @*<img src="@ViewBag.ImageURL" style="height:200px;width:200px;" />*@
                                    <p class="font-weight-bold"> Authorized Signature</p>
                                </div>
                            </div>
                            <br />
                            <a href="@Url.Action("Index", "RejectionNote")" class="btn btn-sm btn-primary" style="background: linear-gradient(85deg, #392c70, #6a005b); float: right;" id="btnBack">
                                Back To List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>

<script src="~/Theme/MainContent/js/jquery.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/jspdf.min.js"></script>
<script src="~/Theme/MainContent/jspdf.min.js_1.5.3/unpkg/html2canvas.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        CalculateTotalBeforeTax();
        var type = $('#CurrencyName').val();
        if (type != null) {
            $('.CurrencyType').val(type);
        }
        else
            $('.CurrencyType').val('Rs.');

    });

    function CalculateTotalBeforeTax() {
        //$('#TotalBeforeTax').val('');
        //$('#TotalTax').val('');
        var length = document.getElementById("submissionTable").rows.length;
        length = parseFloat(length) - 1;
        var total = 0;
        var totalTax = 0;
        var i = 1;
        while (i <= length) {
            var temp = document.getElementById("totalItemCost_" + i).value;
            var tempTotalTax = document.getElementById("itemTax_" + i).value;
            total = parseFloat(temp) + total;

            tempTotalTax = Math.round((parseFloat(tempTotalTax) / 100) * parseFloat(temp));
            totalTax = parseFloat(tempTotalTax) + totalTax;
            i++;
        }
        $('#TotalBeforeTax').val(total);
        $('#TotalTax').val(totalTax);
        //var tempGrandTotal = total + totalTax;
        //$('#TotalAfterTax').val(tempGrandTotal);
        //$('#GrandTotal').val(tempGrandTotal);

        //createJson();
    }

    $('#btnExport').click(function () {
        var printD = document.getElementById("printV");
        $("#btnExport").hide();
        $("#btnBack").hide();
        // $("#btnPrint").hide();
        html2canvas(printD).then(function (canvas) {

            var img = canvas.toDataURL("image/png", 1.0);

            var doc = new jsPDF('p', 'pt', 'a4');

            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };

            doc.addImage(img, 'JPEG', 5, 5, 586, 240);
            doc.fromHTML(printD, 15, 15, {
                'width': 200,
                // 'margin':[10,60,40,20],
                'elementHandlers': specialElementHandlers
            });
            var currentDate = new Date();
            //var time = getTime();
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            console.log(time);
            var today = formatDate(currentDate);
            doc.save('RejectionNote_' + today + '_' + time + '.pdf'); 
            $("#btnExport").show();
            $("#btnBack").show();
            //$("#btnPrint").show();
        });
        //window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);

    });

    function formatDate(date) {
        // alert(date);
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;
        return [day, month, year].join('-');
        //return [year, month, day].join('-');
    }
</script>

